body {
  background-color: rgb(9, 15, 27);
}

.beka {
  mask-image: linear-gradient(to bottom, transparent, black);
  -webkit-mask-image: linear-gradient(to bottom, transparent, black);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32' fill='none' stroke='rgb(148 163 184 / 0.05)'%3e%3cpath d='M0 .5H31.5V32'/%3e%3c/svg%3e");
  background-repeat: repeat;
}

.fatass {
  background-image: url("https://tailwindcss.com/_next/static/media/hero-dark@90.dba36cdf.jpg");
  background-size: 86.125rem;
}
.shad {
  box-shadow: 0 0 30px 0 rgba(1, 136, 255, 0.168);
}
